@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-sec{
    background-image: url(images/cloud-img.avif);
    background-size: cover;
}
.my-name{
    font-family: "Dancing Script",sans-serif;
    font-size: 6rem;
    text-align: center;
    color: rgb(233, 242, 247);
    font-weight: 900;
}
.head-text{
    font-family:sans-serif;
    font-size: 2.75rem;
    font-weight: 600;
    margin-top: 3rem;
    color: #a360cf;
}
main{
    background: linear-gradient(359deg, #3a72b770, transparent);
}
.main-sec{
    flex-direction: column;
}
.my-img{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-image: url(images/WhatsApp\ Image\ 2024-09-13\ at\ 12.35.30\ PM.jpeg);
  background-size: cover;
}
.greeting{
    font-family:sans-serif;
    font-size: 3rem;
    text-align: center;
    color: rgb(180, 130, 228);
    font-weight: 600;
    margin:1rem 0 ;
}
.my-intro p{
    font-family: sans-serif;
    height: 140px;
    width: 500px;
    font-size: 1rem;
    font-weight: 600;
    color: #61b38d;
    text-align: center;
    line-height: 25px;
}
.skill-sec{
    flex-direction: column;
    padding-top: 2rem;
}
.skill-head{
    font-family:sans-serif;
    font-size: 3rem;
    text-align: center;
    color: rgb(180, 130, 228);
    font-weight: 600;
    margin: 2rem 0;
}

.my-skills{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
}
.skill-img{
    height:200px;
    width: 250px;
    border-radius:30px;
    background-image: url(images/skill-img.jpg);
    background-size: cover;
}
.skill-text{
    padding-left: 1.5rem;
}
.skill-text h1{
    font-family:sans-serif;
    font-size: 2rem;
    text-align: left;
    color: rgb(180, 130, 228);
    font-weight: 600;

}
.skill-text p{
    font-family: sans-serif;
    height: 130px;
    width: 300px;
    font-size: 0.85rem;
    font-weight: 400;
    color: #61b38d;
    text-align:left;
    margin-top: 1rem;
    line-height: 20px;
}
.my-hobbies{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    height: 50%;
    width: 100%;
    margin-top: 2rem;
}
.hobby-img{
    height:200px;
    width: 250px;
    border-radius:30px;
    background-image: url(images/hobby-img.jpg);
    background-size: cover;
}
.hobby-text{
    padding-left: 1.5rem;
}
.hobby-text h1{
    font-family: sans-serif;
    font-size: 2rem;
    text-align: left;
    color: rgb(180, 130, 228);
    font-weight: 600;
}
.hobby-text p{
    font-family: sans-serif;
    height: 130px;
    width: 300px;
    font-size: 0.85rem;
    font-weight: 400;
    color: #61b38d;
    text-align: left;
    margin-top: 1rem;
    line-height: 20px;
}
.contact-sec{
    flex-direction: column;
}
.contact-head{
    font-family:sans-serif;
    font-size: 1.75rem;
    text-align: center;
    color: rgb(180, 130, 228);
    font-weight: 600;
    margin-bottom: 1rem;
}
.my-details{
    height: 75px;
    width: 600px;
    font-family: sans-serif;
    font-size: 1.15rem;
    color: rgb(51 129 159);
    font-weight: 500;
    text-align: center;
   
}
.contact-btn button{
    font-size: 1.75rem;
    padding: 1rem;
    border: 2px solid transparent;
    border-style: none;
    border-radius: 20px;
    color: #fff;
    background-color: #335177;
    transition: all 0.1s ease-in;
}
.contact-btn button:hover{
    background-color: #46b89f;
}
.footer-sec{
    background-color: #5db68d;
    color: #fff;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-list{
     width: 100%;
}
.footer-list ul {
    display: flex;
    justify-content: center;
}
.footer-list ul li {
    list-style-type: none;
    padding-right: 3.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.footer-list ul li a{
    text-decoration: none;
    color: #0d5738;
}
.footer-text{
    width: 100%;
    margin-top: 1.5rem;
    text-align: center;
}
.footer-text p{
    font-size: 1rem;
}